<div class="pessoa-box">
  <button>Cadastrar nova pessoa</button>
  <div class="input-box">
    <label>Procurar:</label>
    <input type="text" placeholder="Informe o Id desejado">
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jonathas</td>
      <td>27</td>
      <td>jonathas_sodre&#64;email.com</td>
      <td>
        <button>Editar</button>
        <button>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
